{"configSettings":[{"appID":"SharedServerToken","serverToken":"YKGZKD22LXOWXDUDFRM4P63TUZFLDJZC"},{"appID":"d8588e59-98f4-4823-86ce-9d9e2389b6b8","serverToken":"SSOB3KGRVMN3NIXSEHMOI7XND7SOS6RD"},{"appID":"voiceSDK_en","serverToken":""},{"appID":"1720565312044806","serverToken":"YKGZKD22LXOWXDUDFRM4P63TUZFLDJZC"}]}